.start {
    background: url('../src/maxresdefault.jpg') no-repeat center center; 
    background-size: cover; 
    height: 300px; 
    color: white;
    display: flex;
    flex-direction: column; 
    text-align: center; 
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40pt; 
    align-items: center; 
    margin-bottom: 50px;
}
.skip{
    height: 2px;
    background-color: blue;
    width: 50%;
}
.vajnoe{
            height: 5px;
            background-color:rgb(105 224 117);
        }
.pochemy{
    
    margin-right: auto;
    width: 60vw;
    height: auto; 
    font-family: Arial, cursive;
    font-size: 40pt; 
    margin-bottom: 50px;
}
.pochemy_gray{
    background-color: #f6f6f1;
    margin-right: auto;
    width: 60vw;
    height: auto; 
    font-family: Arial, cursive;
    font-size: 40pt; 
    margin-bottom: 50px;
}
.p_text{
    font-family: Arial, cursive;
    font-size: 18pt; 
}
.col{
    flex-direction: column;
    display: flex;
    text-align: center;
}
.category-wrap {
    margin-right: auto; 
    margin-left: auto;
    width: 150px; 
    border: 2px 
    box-shadow: 2px 2px 8px #393131;}

.category-wrap {
    position: sticky;
    top: 20px; 
    margin-right: auto; 
    margin-left: auto;
    width: 150px; 
    border: 2px  #666;

    background-color: white;
}
.category-wrap li {
    margin: 12px 0 0 0px;}
.category-wrap a {  
    text-decoration: none;
    display: block; 
    font-size: 16px; 
    color: #9c15a6; 
    padding: 5px;}
.category-wrap a:hover { background: green; 
    color: white;}

.pervoe_mesto{
    width: 60vw;
    margin-right: auto;
    border: 3px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}
.mesto_text{
    font-family: Arial, cursive;
    font-size: 40pt;
    color: #ff0000;
    text-align: center;
}
.img {
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto; 
    }

@media (min-width: 200px) and (max-width: 1200px) {
.start {
    background: url('../src/maxresdefault.jpg') no-repeat center center; 
    background-size: cover; 
    height: 300px; 
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center; 
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 25pt; 
    align-items: center;
    margin-bottom: 50px;
}
.pochemy{
    width: 75vw;
    height: auto; 
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40pt; 
    margin-bottom: 50px;
    margin-left: auto;
}
.pochemy_gray{
    background-color: #f6f6f1;
    width: 75vw;
    height: auto; 
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40pt; 
    margin-bottom: 50px;
    margin-left: auto;
}
.category-wrap {
    margin-right: auto; 
    margin-left: auto;
    width: 15vw; 
    border: 2px 
    box-shadow: 2px 2px 8px #393131;}

.category-wrap {
    position: sticky;
    top: 20px; 
    margin-right: auto; 
    margin-left: auto;
    width: 15vw; 
    border: 2px  #666;

    background-color: white;
}
.category-wrap li {
    margin: 6px 0 0 0px;}
.category-wrap a {  
    text-decoration: none;
    display: block; 
    font-size: 12px; 
    color: #9c15a6; 
    padding: 5px;}
.category-wrap a:hover { background: green; 
    color: white;}
.pervoe_mesto{
    width: 75vw;
    margin-left: auto;
    border: 3px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}
.dopolnetelno{
    width: 75vw;
    margin-left: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

}
.dp_text{
    text-align: center;
    font-family: Arial, cursive;
    font-size: 22pt; 
}
.dopolnetelno{
    width: 60vw;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

@media (min-width: 100px) and (max-width: 750px) {
    .dopolnetelno{
        display: none;
    }
    .dopolnetelno2{
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    }
}
@media (min-width: 751px){
    .dopolnetelno2{
        display: none;
    }
}
@media (min-width: 100px) and (max-width: 300px) {
.p_text{
    font-family: Arial, cursive;
        font-size: 10pt; 
}
}
@media (min-width: 301px) and (max-width: 750px) {
.p_text{
    font-family: Arial, cursive;
        font-size: 14pt; 
}
}
.btn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 80px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover,
.btn:focus {
  background-color: #F082AC;
}
label {cursor: pointer;}
ul {list-style: none;}
.list {display: none;}
.checkbox {display: none;}

.checkbox:checked ~ .list {
  display: block;
}
   @media (min-width: 100px) and (max-width: 770px) {
       nav.nav {
           display: none;
       } 
   }
 @media (min-width: 771px)  {
    .header{
        display: none;
    }
 }
@media (min-width: 100px) and (max-width: 750px) {
    .category-wrap {
        display: none;
    }
}
@media (min-width: 100px) and (max-width: 750px) {
    table {
        font-size: 10px;
    }
}
@media (min-width: 100px) and (max-width: 750px) {
    .col-2 {
        display: none;
    }
     .col-10 {
        width: 95%;
    }
    .pochemy{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .pervoe_mesto{
        width: 95%;
        margin-left: auto;
        margin-right: auto;

    }
    .dopolnetelno2{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}
.video-container {
    max-width: 900px;
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: 405px;
    border: none;
}
        
@media (min-width: 901px) {
    iframe {
    width: 750px;
    height: 422px;
    display: block;
    margin: auto;
}
.video-container {
    width: 60vw;
    height: auto;
} 
}
.ustart{
    background: url('../src/browserstack.jpg') no-repeat center center; 
    background-size: cover; 
    height: 300px; 
    margin-bottom: 50px;
}
@media (min-width: 100px) and (max-width: 877px) {
.ustart{
    background: url('../src/BrowserStack.png') no-repeat center center; 
    background-size: cover; 
    height: 300px; 
    margin-bottom: 50px;
}
}
th{
    text-align: center ;
}
.img1{
  height: 50px;
  width: 50px;
}
.img2{
  height: 50px;
  width: 50px;
}
.img3{
  height: 50px;
  width: 50px;
}
.sd{
    background: #e341ff;
}
.gstart{
    background: url('../src/lhl.png') no-repeat center center; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white; 
    height: 300px; 
    margin-bottom: 50px;
}
.ggstart{
    background: url('../src/Colorzilla-Photoroom.png') no-repeat center center; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF; 
    height: 300px; 
    margin-bottom: 50px;
}
.li_text{
    font-size: 14pt;
}
.no-center {
    text-align: left;
}
.checkmark {
    list-style-type: none; /* Убираем стандартные маркеры */
    position: relative; /* Для позиционирования псевдоэлемента */
    padding-left: 25px; /* Отступ для галочки */
}

.checkmark::before {
    content: "✔️"; /* Символ галочки */
    color: green; /* Цвет галочки */
    position: absolute; /* Позиционирование */
    left: 0; /* Сдвиг влево */
}
